@import url("https://fonts.googleapis.com/css2?family=Love+Light&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hidden {
  display: none;
}
body {
  background-color: #1a231f;
  width: 100%;
  height: 100%;
  /* padding: 20px; */
}
/************************ General code ************************/
div {
  flex-wrap: wrap;
}
h2 {
  word-break: break-all;
}
/*******************************  *******************************/

header {
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #1a231f;
  padding: 20px;
}
header > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -2px;
}
header div > h1 > a {
  color: #37da78;
  width: fit-content;
  text-decoration: none;
}
header > div > i {
  font-size: 30px;
}
header > div > img {
  width: 35px;
  height: 35px;
  padding: 0;
  margin-right: -5px;
}
@keyframes navmove {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}
nav {
  width: 100%;
  height: 90vh;
  padding: 20px;
  margin-top: -2px;
  position: fixed;
  background-color: #1a231f;
  animation: navmove 0.5s ease-in;
}
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
nav > ul > li {
  color: #000100;
  font-size: 20px;
  width: 100%;
  height: 4rem;
  text-align: center;
  align-items: center;
}
nav > ul > li > a {
  text-decoration: none;
  color: #ffffff;
}
.nav_icons {
  width: 25px;
  height: 25px;
  margin-bottom: -5px;
  margin-right: 5px;
}
.zozo {
  margin-bottom: -5px;
  margin-right: 5px;
}
main {
  padding: 20px;
}

/******************** Dashboard section ********************/
.main-dashboard-overview {
  height: fit-content;
}
.dashboard-highlight {
  display: flex;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.dashboard-highlight > h1 {
  color: #ffffff;
}
.dashboard-highlight > a > button {
  height: 2rem;
  border-radius: 5px;
  color: #000100;
  background-color: #38e07b;
}
.spending {
  background-color: #111714;
  height: 6.6rem;
  /* height: 50%; */
  height: fit-content;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
}
.spending > div > h6 {
  color: #89a092;
  margin-bottom: 10px;
}
.spending > div > h2 {
  color: #ffffff;
}
.budget-balance-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  height: fit-content;
}
.budget {
  background-color: #111714;
  height: 33%;
  /* height: 6.6rem; */
  height: fit-content;
  width: 48%;
  border-radius: 10px;
  padding: 25px;
}
.budget > div > h6 {
  color: #89a092;
  margin-bottom: 10px;
}
.budget > div > h2 {
  color: #ffffff;
}

.balance {
  background-color: #111714;
  /* height: 6.6rem; */
  height: fit-content;
  width: 48%;
  border-radius: 10px;
  padding: 25px;
}
.balance > div > h6 {
  color: #89a092;
  margin-bottom: 10px;
}
.balance > div > h2 {
  color: #ffffff;
}

/******************** Spending overview ********************/
.spending-overview {
  height: 25rem;
  width: 100%;
  background-color: #111714;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
}
.spending-overview > div > div {
  display: flex;
  justify-content: space-evenly;
}
.spending-overview > div > div > p {
  color: #98b0a2;
  font-size: 14px;
}
.spending-overview > div > h3 {
  margin-bottom: 20rem;
  color: #ffffff;
}

/****************** Recent Transactions ******************/
.recent-transactions-container > h2 {
  color: #ffffff;
  margin-bottom: 20px;
}
.recent-transactions {
  border: 1px;
}
.headings {
  display: flex;
  color: #ffffff;
  margin-bottom: 13px;
  width: 100%;
  /* flex-wrap: wrap; */
  padding: 10px;
}
.headings > h4:nth-child(1) {
  width: 40%;
  margin-right: 8px;
}
.headings > h4:nth-child(2) {
  width: 34%;
  margin-right: 10px;
}
.headings > h4:nth-child(4) {
  width: 20%;
}
hr {
  height: 1px;
  width: 100%;
  background-color: #324339;
}
.transactions {
  height: fit-content;
  background-color: #111714;
  border-radius: 0px 0px 8px 8px;
}
.transactions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
}

.transactions-list > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 10px;
}
.transactions-list > li > p {
  height: fit-content;
}
.transactions-list > li > p:nth-child(1) {
  width: 42%;
  margin-right: 8px;
  color: #acaeac;
}
.transactions-list > li > p:nth-child(2) {
  color: #94ac9d;
  width: 34%;
  margin-right: 10px;
  word-break: break-all;
}
.transactions-list > li > p:nth-child(4) {
  color: #f1f1f1;
  width: 23%;
  word-break: break-all;
}

/**************** Add expense page and add budget page styling ****************/
.container > div {
  text-align: center;
  margin-bottom: 20px;
}
.container > div > h2 {
  color: #ffffff;
}
.container > div > p {
  font-size: 14px;
  color: #8b8f8d;
  /* color: #94ac9d; */
}

form > label {
  display: block;
  color: #cfd0d0;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 500;
}
form > input {
  height: 3rem;
  background-color: #1c2620;
  width: 100%;
  border: 0.5px solid #3d5245;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  color: #ffffff;
}
form > select {
  margin-bottom: 10px;
  height: 3rem;
  background-color: #1c2620;
  color: #ffffff;
  border: 0;
  width: 100%;
  padding: 10px;
  border: 0.5px solid #3d5245;
  border-radius: 5px;
  outline: none;
  /* appearance: none; */
}
form > select > option {
  border: 0;
}
form > textarea {
  height: 3rem;
  background-color: #1c2620;
  width: 100%;
  border: 0.5px solid #3d5245;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  color: #ffffff;
  height: 10rem;
}
form > div {
  width: 100%;
  display: flex;
  justify-content: end;
}
form > div > button {
  width: fit-content;
  height: 2.5rem;
  width: 30%;
  border-radius: 20px;
  color: #000100;
  background-color: #38e07b;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}
button:hover {
  background-color: #76eba5;
}

/* Transactions Page Styling*/
.recent-transactions-container > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  margin-bottom: 20px;
}
.recent-transactions-container > div:nth-child(1) > button {
  height: fit-content;
  border-radius: 5px;
  color: #000100;
  background-color: #38e07b;
  padding: 5px;
}
